{
  env: {
    // Used as the default for running babel
    development: {
      sourceMaps: 'both',
      presets: [['env', {
        targets: {
          node: 'current'
        },
        modules: false
      }], 'stage-2', 'react']
    },
    // Jest runs with NODE_ENV=test and will use the following.
    // We target the current node version to minimize transcompilation.
    // This should speed up the test run and make it more debugable.
    test: {
      sourceMaps: 'both',
      presets: [['env', {
        targets: {
          node: 'current'
        }
      }], 'stage-2', 'react']
    }
  },
  // Common to all envs above.
  plugins: [
    ["transform-es2015-modules-commonjs", {
      loose: true
    }]
  ]
}
