{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "impliedStrict": true,
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true
    }
  },
  "plugins": [
    "react",
    "babel"
  ],
  "extends":[
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "globals": {
    "Set": true,
    "Map": true,
    "WeakSet": true,
    "WeakMap": true,
    "Symbol": true,
    "Promise": true,
    "Reflect": true,
    "Uint8ClampedArray": true,

    //  For the tests.
    "beforeEach": true,
    "afterEach": true,
    "beforeAll": true,
    "afterAll": true,
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  },

  "rules": {
    /* annoying to have to escape  */
    "react/no-unescaped-entities": "off",
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-wrap-multilines": ["error"],
    "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "always"}],
    /*"react/jsx-sort-props": ["error", {
      "callbacksLast": true,
      "shorthandFirst": true,
      "ignoreCase": false
    }],*/
    "react/jsx-pascal-case": ["error"],
    "react/jsx-no-target-blank": ["error"],
    "react/jsx-no-comment-textnodes": ["error"],
    "react/jsx-no-duplicate-props": ["error", {"ignoreCase": true}],
    //not sure about using <p>{'spam'}</p>
    //"react/jsx-no-literals": ["error"],
    "react/jsx-no-bind": ["error", {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowBind": false
    }],
    // "react/jsx-key": ["error"],
    "react/jsx-handler-names": ["error"],
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-curly-spacing": [2, "never"],

    "complexity": ["error", 5],
    "curly": ["error", "all"],
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-invalid-this": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": ["error", {
      "enforceConst": true,
      "ignore": [0, 1, -1, 2, 90, 180, 270, 360]
    }],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new": "error",
    "no-new-wrappers": "error",
    //"no-param-reassign": "error",
    "no-redeclare": "error",
    "no-return-assign": ["error", "always"],
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-void": "error",
    "no-warning-comments": "warn",
    "no-with": "error",
    "wrap-iife": ["error", "inside"],
    "yoda": "error",

    "init-declarations": ["error", "always"],
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-unused-vars": ["error", { "varsIgnorePattern": "_" }],
    "no-use-before-define": "error",

    "callback-return": ["error", ["callback", "cb", "next"]],
    "handle-callback-err": "error",
    "no-path-concat": "error",
    "no-process-env": "error",

    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "camelcase": ["error", {"properties": "always"}],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "comma-dangle": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "consistent-this": ["error", "self"],
    "eol-last": "error",
    "func-style": ["error", "declaration", {
      "allowArrowFunctions": true
    }],
    "id-length": ["error", {
      "min": 2, "max": 40,
      "properties": "always",
      "exceptions": ["x", "y", "z", "_"]
    }],
    "indent": ["error", 2, {
      "MemberExpression": 1,
      "SwitchCase": 1,
      "FunctionDeclaration": {"body": 1, "parameters": 2},
      "FunctionExpression": {"body": 1, "parameters": 2}
    }],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": ["error", "unix"],
    /*"lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "beforeLineComment": true,
      "allowBlockStart": true,
      "allowObjectStart": true,
      "allowArrayStart": true,
    }],*/
    "max-depth": ["error", 4],
    "max-len": ["error", 80, 4, {"ignoreUrls": true}],
    "max-nested-callbacks": ["error", 3],
    "max-params": ["error", 4],
    "max-statements": ["error", 10, {"ignoreTopLevelFunctions": false}],
    "new-cap": "error",
    "new-parens": "error",
    //"newline-after-var": ["error", "always"],
    "newline-per-chained-call": ["error", {"ignoreChainWithDepth": 2}],
    "no-array-constructor": "error",
    "no-bitwise": "off",
    "no-continue": "error",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-plusplus": "error",
    // can't use classes
    // "no-restricted-syntax": ["error", "FunctionExpression", "WithStatement"],
    "no-spaced-func": "error",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-underscore-dangle": ["error"],
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "never"],
    //conflicts with ()=> ({...\n...}) "object-curly-newline": ["error", {"multiline": true}],

    "one-var": ["error", "never"],
    "one-var-declaration-per-line": ["error", "always"],
    "operator-assignment": ["error", "always"],
    // "operator-linebreak": ["error", "none"],
    "quote-props": ["error", "as-needed", {"numbers": true}],
    "quotes": ["error", "single", "avoid-escape"],
    "semi": ["error", "always"],
    "semi-spacing": "error",
    // "sort-imports": ["error", {
    //   "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
    // }],
    "sort-vars": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never"
    }],
    "space-in-parens": ["error", "never"],
    //"space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always"],
    "wrap-regex": "error",

    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", { "before": false, "after": true }],
    "constructor-super": "error",
    "generator-star-spacing": ["error", {"before": false, "after": true}],
    "no-class-assign": "error",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-useless-constructor": "error",
    "no-var": "error",
    "object-shorthand": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", {
      "destructuring": "all",
      "ignoreReadBeforeAssign": false
    }],
    "prefer-reflect": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "yield-star-spacing": ["error", {"before": true, "after": true}],
  }
}
